body,
html {
  height: 100%;
}

.bg {
  background-image: url('./images/asset2.png');
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.main-box {
  background: url('./images/white.png'), url('./images/asset1.jpg');
  background-position: left 320px center, right 260px center;
  background-position-y: 0px, -85px;
  background-size: 910px;
  background-repeat: no-repeat, no-repeat;
  position: absolute;
  border-radius: 25px;
  padding: 20px;
  width: 800px;
  height: 400px;
  top: 50%;
  left: 46%;
  margin-top: -150px;
  margin-left: -348px;
}

.background {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 50%;
  height: 100%;
  background-color: white;
  z-index: 1;
}

.header {
  color: aliceblue;
  top: 15%;
  left: 2%;
  position: relative;
}

.para {
  font-size: smaller;
}

.logo {
  top: 36%;
  left: 50%;
  height: 60px;
  width: 100px;
  position: relative;
}